<!--Defining path to view-->
{% if name == "index" %}
    {% url 'index' as path %}
{% elif name == "profile" %}
    {% url 'profile' user_data.id as path %}
{% elif name == "following" %}
    {% url 'following' as path %}
{% endif %}

{% for post in page_obj %}
    <div>
        <a href="{% url 'profile' post.author.id %}" class="h5">{{ post.author.username }}</a>
        <div class="content-container" data-id="{{ post.id }}">
            {% if post.author == request.user %}
                <p class="edit-post-btn">Edit</p>
            {% endif %}
            <p class="content">{{ post.content }}</p>
        </div>
        <p class="date-created text-muted">{{ post.date_created }}</p>
        <button class="like-post-btn" data-id="{{ post.id }}"></button>
        <p class="like-count">{{ post.likes }}</p>
        <p class="comment text-muted" data-id="{{ post.id }}">Comment</p>
    </div>
{% empty %}
    <h1>No post yet.</h1>
{% endfor %}

<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="{{ path }}?pnum={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if i <= page_obj.number|add:2 and i >= page_obj.number|add:-2 %}
                {% if i == page_obj.number %}
                    <li class="page-item active"><a class="page-link" href="{{ path }}?pnum={{ i }}">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ path }}?pnum={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="{{ path }}?pnum={{ page_obj.next_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}
    </ul>
</nav>
    