{% extends "network/layout.html" %}
{% load static %}

{% block title %}
    {{ user_data.username }} Profile
{% endblock %}

{% block body %}
    <div class="container my-3 p-3 rounded border border-1 bg-white">
        <h1 id="profile-name">{{ user_data.username }}</h1>
        <p>
            <b>Total Followers:</b>
            <span id="total-followers">{{ user_data.total_followers }}</span>
        </p>
        <p>
            <b>Total Following:</b>
            <span id="total-following">{{ user_data.total_following }}</span>
        </p>
        {% if user_data.id != request.user.id and request.user.is_authenticated %}
            {% if is_following %}
                <button id="follow-btn" class="btn btn-primary" data-id="{{ user_data.id }}">Unfollow</button>
            {% else %}
                <button id="follow-btn" class="btn btn-primary" data-id="{{ user_data.id }}">Follow</button>
            {% endif %}
        {% endif %}
    </div>

    {% include "network/content.html" %}
    
{% endblock %}