textarea.form-control {
    resize: none;
}

.content {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.like-post-btn, .like-comment-btn, .edit-post-btn, .comment {
    user-select: none;
    cursor: pointer;
}